        /* Estilos básicos para centralizar e dar um visual agradável */
body {
    font-family: 'Inter', sans-serif;
    /* Usando a fonte Inter */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ff0404;
    /* Fundo cinza claro */
    margin: 0;
    flex-direction: column;
    color: #333333;
    /* Cor do texto padrão cinza escuro */
 }

.spin {
    animation: spin 5s linear infinite;
    transform-origin: 50% 50%;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}